@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "CursorGothic";
  src: url("fonts/CursorGothic_Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "CursorGothic","Montserrat", sans-serif;
  
  background-color: #000;
}
.main{
max-width: 1200px;
  margin: 0 auto;
}
nav {
  background: #000;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  padding: 10px 0;
  align-items: center;
  position: fixed;
  width: 1200px;
}
.div-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cursor_logo {
  width: 65px;
  height: 16px;
}
.cursor_icon {
  width: 25px;
  height: 25px;
}
ul {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;

  color: aliceblue;
}
ul li {
  list-style: none;
}

ul li:hover{
  color: #979797;
  cursor: pointer;
}
.button-div {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button-div .signin {
  background: #000;
  border: 1px solid #525252;
  color: white;
  border-radius: 30px;
  padding: 2px 12px;
  font-weight: 500;
  font-size: 16px;
}
.signin:hover{
  background: #2a2a2a;
   cursor: pointer;
}
.button-div .download {
  background: white;
  border: none;
  color: black;
  border-radius: 30px;
  padding: 2px 12px;
  font-weight: 500;
  font-size: 16px;
   cursor: pointer;
}

.download:hover{
  background-color: rgb(197, 197, 197);
}
.hero {
  max-width: 600px;
  padding: 80px 0px;

}
.hero-text {
  font-size: 24px;
  color: white;
}
.download-window {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  background: white;
  color: black;
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 20px;
}
.download-window:hover ,.join-us:hover{
  background-color: rgb(203, 203, 203);
  cursor:pointer;
}

.join-us{
   margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  background: white;
  color: black;
  padding: 10px 10px;
  margin-left: 10px;
  border-radius: 20px;
}

.hero-2 img {
  max-width: 1200px;
}

.trustedby {
  max-width: 1200px;
 
margin: 0px auto;
  gap: 10px;
}
.trustedbytext {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: aliceblue;
  padding: 40px;
  margin: 10px auto;
}
.trustedbyimg {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 0 10px;
  margin-top: 10px;
}

.trustedbyimg img {
  background: #1b1913;
  width: 150px;
  padding: 20px;
  border-radius: 4px;
}

.features {
  max-width: 1200px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.features img {
  width: 100%;
  height: auto;
}

.features-1 ,.features-3 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: #1d1b15;
  padding: 20px;
   border: 1px solid #292620;
   border-radius: 5px;
}
.features-2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #1d1b15;
  padding: 20px;
   border: 1px solid #292620;
   border-radius: 5px;
}

.features-1-text,
.features-3-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  padding: 10px;
  color: white;
}
.features-2-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  padding: 10px;
  color: white;
}
.features-1-text p,
.features-2-text p,
.features-3-text p {
  font-weight: 600;
  font-size: 18px;
}
.features-1-text span,
.features-2-text span,
.features-3-text span {
  font-weight: 500;
  font-size: 18px;
  color: #979797;
}

.features-1-text a,
.features-2-text a,
.features-3-text a,
.channelog a,
.orangetxt {
  color: rgb(255, 115, 0);
  text-decoration: none;
  cursor: pointer;
}

.features-1-text a:hover,
.features-2-text a:hover,
.features-3-text a:hover{
  color: rgb(211, 95, 0);
}

.testimonials {
   max-width: 1200px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  color: white;
}

.big{
  text-align: center;
  padding: 40px;
  font-size: 24px;
  color: white;
}

.container{
  background: #1d1b15;
  width: 380px;
  border: 1px solid #292620;
  padding: 10px;
  display: grid;
  grid-template-rows: 3fr 1fr;
  border-radius: 6px;

}
.textcont{
  height: 200px;
  padding: 10px;
}
.testimonial{
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
}
.testimonial img{
  border: none;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}
.testimonial span{
  color: #6f6f6f;
}
.footer-section{
  width: 100%;
  background-color: #1d1b15;


  margin: 0;
  margin-top: 20px;
  overflow: hidden;
  padding: 20px;

}
footer {
  max-width: 1200px;
    margin: 0 auto;
 display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px 0px;
 
 


}
footer div p{
  color: rgb(101, 101, 101);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

footer div ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

footer div ul li {
  list-style: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

footer div ul li a {
  text-decoration: none;
  color: white;
}

footer div ul li:hover {
  color: rgb(255, 115, 0);
  cursor: pointer;
}

.bottom{
   border-top: 1px solid #525252;
 
 color: white;

  text-align: center;
  padding: 10px;
  margin-top: 20px;
  
} 
.bottom a{
  text-decoration: underline;
  color: aliceblue;
}

.CTA{
  
  margin: 40px auto;
  padding: 20px;
background-color: black;
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;
  border-radius: 8px;
}
.CTA p{
  color: white;
  font-size: 48px;
  font-weight: 600;
}
.channelog{
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0px;
  color: #ffffff;
}

.channelog>p{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.updates{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.eachlog{
   background: #1d1b15;
  width: 380px;
  border: 1px solid #292620;
  padding: 15px;
  display: grid;
  grid-template-rows: 2fr 3fr;
  border-radius: 6px;
}
.eachlog .date{
  color: #7d7d7d; 
  padding: 5px 10px ;
}

.eachlog .date span{
  border: 1px solid #7d7d7d;
  color: #7d7d7d;
  font-size: 14px;
  padding: 2px 8px;
  border-radius: 20px;
}
.channelog .seenew{
  margin-top: 20px;
 padding:30px 0px;
}


.feature-section{
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0px;
  color: #ffffff;
}

.feature-section>p{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.featuresShow{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.eachfeature{
  background: #1d1b15;
  border: 1px solid #292620;
  width: 380px;
  
  padding: 15px;
  display: grid;
  grid-template-rows: 1fr 1fr 4fr;
  border-radius: 6px;

}
.eachfeature img{
  width: 350px;
  height: 300px;
}

.orangetxt p:hover{
   color: rgb(211, 95, 0);
}

.extra-div{
  max-width: 1200px;
  height: 80px;
}